.change-password-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, auto);
  background-image: url('/vitalijus-daukantas-ZuvX5hRqt2I-unsplash.jpg');
  background-size: cover;
  background-position: center;
  &__section, h1{
    background: lightgray;
    grid-column: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label, h1{
    color: white;
  }
  h1{
    font-family: 'Seaweed Script', cursive;
    font-size: 35px;
  }
}

.form-inputs{
  display: flex;
  margin-left: .7rem;
  padding: .4rem .6rem;
  border-radius: 1.3rem;
  background: white;
  input{
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
  }
}

@media only screen and (max-width: 430px){
  .change-password-form{
    &__section, h1{
      grid-column: 1/ span 3;
    }
  }
}
