.signup-form{
  grid-area: 'content';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, auto);
  padding: 1rem;
  &__section{
    grid-column: 2/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.validations{
  display: flex;
  flex-direction: column;
}

// for form-input, main-btns, switch-btn, and error, the styles are the same as login.scss
