@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: relative;

  &__title {
    h1 {
      cursor: pointer;
    }
    color: white;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

  &__login {
    button {
      background: black;
      color: white;
      border: 0.2rem solid lightgray;
      border-radius: 1.2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0 0 1rem 0.3rem lightgray;
      }
      &:active {
        box-shadow: none;
      }
    }
  }

  &__background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center 28%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding-bottom: 5px;
  }
}

.menu-positioning {
  position: relative;
  span {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  span,
  .menu-arrow {
    cursor: pointer;
  }
  .menu {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 1;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.3rem lightgray;
    background: white;
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 0.5rem;
    span {
      padding: 0.5rem;
      border-bottom: 0.1rem solid lightgray;
    }
  }
}
